


aside {

  font-family: sans-serif, FontAwesome;


  div.search-form {
    border-radius: 0px 0px 30px 30px;
    background-color: $pale-aqua;
    display: none;
    text-align: center;
  }



input {
  border-radius: 5px;
  outline: none;
  margin-right: 5px;
  padding: 8px;
  width: 60%;
  min-width: 200px;
  border: 1px solid $pale-aqua;
    &:hover {
      border-color: #ccc;
    }

}

button.search-button {
  outline: none;
  width: 100px;
  // height: 40px;
  margin: 5px;
  // padding: 10px;
  border-radius: 20px;
  color: white;
  font-size: 12px;
  letter-spacing: 1px;
  background-color: $pale-aqua;
  border: 2px solid white;
    &:hover {
      color: $pale-aqua;
      background: white;
      border: 2px solid $pale-aqua;
    }
    &:active {
      position: relative;
      top: 1px;
      letter-spacing: 2px;
    }
}

}
