

.flex-container {
  display: flex;
  align-content: center;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
}

.flex-item {
  position: relative;
  display: flex;
  border-radius: 10px;
  margin: 5px;
  background: $pale-aqua;
  transition: ease;

  img {
    border-radius: 8px 40px 8px 8px;
    margin: 4px;
  }

    a {
      font-size: 12px;
      position: absolute;
      right: 5px;
      top: 2.5px;
      color: white;

      &:hover {
        color: black;
      }
    }
}
