
* {
  box-sizing: border-box;
}

body {
  background-image: url("images/cork_1.png");
}


.flex-container {
  display: flex;
  align-content: center;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
}

.more-options {
  display: flex;
  align-content: center;
  justify-content: flex-end;
  align-items: center;
}

.flex-item {
  position: relative;
  display: flex;
  border-radius: 10px;
  margin: 5px;
  background: $base-background;
  transition: ease;

  .searched-image {
    border-radius: 8px 40px 8px 8px;
    margin: 4px;
  }

  a {
    font-size: 12px;
    position: absolute;
    right: 5px;
    top: 2.5px;
    color: #fff;

    &:hover {
      color: $action;
      cursor: pointer;
    }
  }

}
