.navigation {
    width: 100%;
    font-family: 'Raleway', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $base-background;
}

.search-form {
    position: relative;
    width: 80%;
    display: flex;
    justify-content: center;
}

.search-field {
    width: 100%;
    font-family: inherit;
    font-size: 20px;
    color: $action;
    outline: none;
    padding: 30px 5px 2px;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid $action;
    text-align: center;

    @media screen and (min-width: 500px) {
        font-size: 24px;
    }
    @media screen and (min-width: 750px) {
        font-size: 26px;
    }
}

.search-button {
    position: absolute;
    bottom: 0;
    right: -16px;
    font-family: inherit;
    font-size: 18px;
    transform-origin: top;
    transform: translateY(22px);
    outline: none;
    border: none;
    background-color: transparent;
    color: #000;

    &:hover {
        color: $action;
        cursor: pointer;
    }

    &:active {
        color: $action;
        transform: translateY(23px);
        @media screen and (min-width: 800px) {
            transform: translateY(27px);
        }
    }

    @media screen and (min-width: 800px) {
        font-size: 22px;
        transform: translateY(26px);
    }
}
