




nav {
    position: fixed;
    bottom: 0px;
    width: 100%;
    z-index: 2;

    font-family: sans-serif, FontAwesome;

div.navMenu {

background-color: $pale-aqua;
  text-align: center;
      div.navDiv {
        display: none;
      }
  }

  div.navIcon {
    background-color: $pale-aqua;
  }
}
